@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

.details_triangle summary {
  list-style: none;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 25px 16px 19px;
  gap: 16px;
}

.header {
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0;
  position: relative;
}
.header_search {
  gap: 41px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.header_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 33px;
}
.header_menu_hover:hover > a > svg > path {
  fill: #F16D7F;
}
.header_menu_hover:hover label svg path {
  fill: #F16D7F;
}

.box-content {
  overflow: hidden;
}

#burger {
  display: none;
}
#burger:checked ~ .nav_burger {
  right: 0;
}

.nav_burger {
  background: #FFFFFF;
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 79px;
  right: 0;
  right: -232px;
  transition: right 0.3s;
}
.nav_burger h3 {
  padding-bottom: 4px;
}
.nav_burger h4 {
  padding-top: 20px;
  padding-bottom: 12px;
  color: #F16D7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.nav_burger li a {
  padding: 3px 0 3px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.nav_burger li a:hover {
  color: #F16D7F;
}
.nav_burger .nav_ref {
  display: block;
}

.label {
  background: #F1E4E6;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 63px;
  margin-bottom: 65px;
}
.label_text {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.label_img {
  width: 50%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 96px;
}
.menu_ref_img {
  width: 100%;
}

.shop_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding-bottom: 57px;
}
.shop_head_head {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.shop_head_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.goods {
  background: #F8F8F8;
}
.goods_shop {
  display: grid;
  gap: 30px;
  grid-template-columns: 360px 360px 360px;
  justify-content: center;
  gap: 30px;
  margin-bottom: 49px;
}
.goods_ref {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.goods_info {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.goods_cost {
  color: #F16D7F;
}

.footer {
  color: #F16D7F;
  text-decoration: none;
  margin-bottom: 61px;
  display: flex;
  justify-content: center;
  margin-bottom: 95px;
}
.footer_ref {
  padding: 14px 39px;
  border: 1px solid #F16D7F;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.footer_box:hover .footer_ref {
  transition: 0.5s;
  color: white;
  background: #F16D7F;
}

.site_footer_goods_info {
  background: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 103px;
  padding-bottom: 104px;
}
.site_footer_goods_info_item {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site_footer_goods_info .goods_info_svg {
  padding-bottom: 28px;
}
.site_footer_goods_info .goods_info_item_header {
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}
.site_footer_goods_info .goods_info_item_text {
  text-align: center;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  background-image: url(img/footer_background_image.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 225px;
  padding-top: 87px;
  padding-bottom: 128px;
}
.subscribe_item {
  display: flex;
  justify-content: center;
  width: 30%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.subscribe .avatar {
  width: 20%;
}
.subscribe_left_text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.subscribe_form {
  display: flex;
}
.subscribe input[type=email] {
  border: none;
  border-radius: 15px 0 0 15px;
  padding-left: 22px;
  height: 50px;
}
.subscribe_button {
  border: none;
  border-radius: 0 15px 15px 0;
  height: 50px;
  background: #F16D7F;
  color: #FFFFFF;
  padding: 7px;
}

.social_media {
  background: #222224;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.social_media_goods_info_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.social_media .media {
  display: flex;
  gap: 7px;
}
.social_media .media_item {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social_media .media_item:hover {
  background: #F16D7F;
}
.social_media .media_item:hover > a > svg > path {
  fill: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    justify-content: space-between;
    /* padding: 18px 32px; */
  }
  .center {
    padding-left: 3%;
    padding-right: 3%;
  }
  .label {
    gap: 10%;
  }
  .label_img {
    width: 45%;
  }
  .label_text {
    width: 45%;
    gap: 5%;
  }
  .text_image {
    width: 80%;
  }
  .menu_ref {
    width: 30%;
  }
  .menu_ref_img {
    width: 100%;
  }
  .menu_ref_img_line {
    width: 100%;
  }
  .menu_ref_line {
    width: 100%;
  }
  .menu {
    gap: 5%;
    row-gap: 15px;
  }
  .goods_shop {
    grid-template-columns: 45% 45%;
  }
  .goods_image {
    width: 100%;
  }
  .site_footer_info {
    flex-direction: column;
  }
  .info_item {
    width: 50%;
  }
  .subscribe {
    flex-direction: column;
    gap: 50px;
  }
  .subscribe_item {
    width: 50%;
  }
  .avatar {
    width: 30%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header {
    justify-content: space-between;
  }
  .label {
    padding-top: 148px;
    padding-bottom: 148px;
    gap: 0;
    justify-content: center;
  }
  .label_img {
    display: none;
  }
  .center {
    padding-left: 3%;
    padding-right: 3%;
  }
  .label_img {
    width: 45%;
  }
  .label_text {
    width: 70%;
    gap: 5%;
  }
  .text_image {
    width: 100%;
  }
  .goods_shop {
    grid-template-columns: 100%;
  }
  .goods_image {
    width: 100%;
  }
  .menu2, .menu3 {
    display: none;
  }
  .site_footer_info {
    flex-direction: column;
  }
  .info_item {
    width: 80%;
  }
  .subscribe {
    flex-direction: column;
    gap: 50px;
  }
  .social_media {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .subscribe_item {
    width: 80%;
  }
  .avatar {
    width: 30%;
  }
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F7F7;
}
.product_head {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.product_head .header_search_right a:last-child {
  color: #F16D7F;
}
.product_image {
  margin-bottom: 41px;
}
.product .header_search_left a {
  color: #F16D7F;
}
.product .product_info:before {
  content: "";
  display: block;
  height: 65px;
  width: 71%;
  left: 14.3%;
  right: auto;
  background-color: white;
  position: absolute;
  top: -65px;
  z-index: 2;
}
.product_info {
  background-color: white;
  width: 100%;
  position: relative;
}
.product_info_box_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_info_box_top h3 {
  color: #F16D7F;
  padding-bottom: 27px;
}
.product_info_box_top_border1 {
  width: 63px;
  border: 3px solid #F16D7F;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 12px;
}
.product_info_box_top h1 {
  color: #F16D7F;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 65px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.product_info_box_top_border2 {
  width: 641px;
  border: 1px solid #EAEAEA;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 65px;
}
.product_info_box_top h2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}
.product_info_box_top span {
  width: 555px;
  display: block;
  text-align: center;
  margin-bottom: 32px;
  color: #5E5E5E;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.product_info_box_top_menu {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-bottom: 49px;
}
.product_info_box_top_button {
  border: 1px solid #F16D7F;
  margin-bottom: 65px;
}
.product_info_box_top_button:hover {
  transition: 0.5s;
  background: #F16D7F;
}
.product_info_box_top_button:hover a, .product_info_box_top_button:hover a svg > path {
  color: white;
  fill: white;
}
.product_info_box_top_button a {
  padding: 15px 23px 15px 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F16D7F;
}
.product_info_box_top_button a svg {
  margin-right: 23px;
}

.goods_filter {
  height: 123px;
  position: relative;
}

.filter_object {
  grid-template-columns: 27% 45%;
  display: grid;
  gap: 30px;
  box-sizing: border-box;
  padding-left: 12%;
  padding-top: 39px;
  color: #6F6E6E;
}

.filter_left {
  padding-top: 13px;
  padding-left: 16px;
  width: 360px;
  box-sizing: border-box;
  display: block;
  position: absolute;
}
.filter_left[open] > summary {
  color: #F16D7F;
}
.filter_left[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter_left[open] path {
  fill: #F16D7F;
}
.filter_left details a {
  display: block;
}
.filter_left_filter[open] > summary {
  color: #F16D7F;
}
.filter_left_filter > summary {
  display: block;
  margin-top: 16px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
  min-height: 37px;
  padding-left: 11px;
  padding-top: 11px;
}
.filter_left_filter:last-child {
  margin-bottom: 16px;
}
.filter_left_filter li {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 34px;
}
.filter_left_filter li a {
  padding-bottom: 11px;
  color: #6F6E6E;
}
.filter_left_filter li a:hover {
  color: #F16D7F;
}
.filter_left_filter li a:last-child {
  padding-bottom: 0;
}

.filter_right {
  display: grid;
  grid-template-columns: 30% 15% 15%;
  gap: 28px;
}
.filter_right .filter_item2 > .details_right > .blok {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-top: 9px;
  padding-left: 9px;
  padding-bottom: 12px;
  width: 40px;
}
.filter_right .details_right {
  padding-top: 13px;
  padding-left: 18px;
}
.page_selector {
  display: flex;
  justify-content: center;
}
.page_selector a {
  color: #6F6E6E;
  padding-right: 18px;
}
.page_selector a:hover path {
  fill: #F16D7F;
}
.page_selector a:last-child {
  padding-right: 0;
}
.page_selector a:hover {
  color: #F16D7F;
}

.top_content_head {
  background: #F8F3F4;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  height: 148px;
  display: flex;
  align-items: center;
  padding-left: 230px;
}

.cart {
  display: flex;
  justify-content: center;
  gap: 129px;
  padding-top: 96px;
}
.cart_left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.cart_left .cart_left_item {
  min-height: 300px;
  display: flex;
  box-shadow: 20px 20px 20px 0px rgba(1, 0, 0, 0.21);
  margin-bottom: 40px;
  width: 600px;
  height: 306px;
}
.cart_left .cart_left_item .info .info_head {
  grid-template-columns: 60% 10%;
  display: grid;
  align-items: center;
  gap: 88px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  padding-top: 25px;
  padding-left: 31px;
  padding-bottom: 42px;
}
.cart_left .cart_left_item .info .info_head h1 {
  font-family: "Lato";
  font-style: normal;
}
.cart_left .cart_left_item .info .info_data {
  padding-left: 31px;
  gap: 6px;
}
.cart_left .cart_left_item .info .box_style {
  margin-left: 25px;
  padding-left: 15px;
  padding-right: 15px;
}
.cart_left .cart_left_item .info .cart_left_buttons .cart_left_button {
  border: 1px solid #A4A4A4;
  color: #000000;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.cart_left .cart_left_buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  padding-bottom: 128px;
}
.cart_left .cart_left_buttons .cart_left_button {
  border: 1px solid #A4A4A4;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 40px;
}
.cart_right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cart_right .cart_right .cart_right_top {
  display: flex;
}
.cart_right .cart_right .cart_right_top_head {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 21px;
}
.cart_right .cart_right .cart_right_top .buy_form {
  display: flex;
  flex-direction: column;
}

.color {
  color: #F16D7F;
}

.box {
  border: 1px solid #EAEAEA;
}

.font {
  font-family: "Lato";
  font-style: normal;
}

.input_form {
  height: 45px;
  width: 100%;
  margin-bottom: 21px;
}

.buy_button {
  background: #FFFFFF;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  border: 1px solid #A4A4A4;
  padding: 10px 15px;
  margin-bottom: 57px;
}

.cart_right_bottom {
  background: #F5F3F3;
  padding: 0 43px;
  min-height: 200px;
}

.cart_right_bottom_info {
  min-height: 100px;
  display: grid;
  grid-template-columns: 60% 20%;
  grid-template-rows: 30% 30%;
  padding-top: 39px;
  justify-content: end;
}

.cart_right_bottom_info_font1 {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.cart_right_bottom_info_font2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.cart_right_bottom_button {
  -webkit-border-before: solid;
          border-block-start: solid;
  border-block-start-color: #E2E2E2;
}

.cart_right_bottom_button_ref {
  display: block;
  background: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 42px;
  margin-top: 17px;
  margin-bottom: 42px;
}

.cart_right_top_head {
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}/*# sourceMappingURL=styleS.css.map */