@import 'variables';
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #000000;
 }
 li {
  list-style-type: none;
  /* Убираем маркеры */
}
.details_triangle summary{
  list-style: none;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 25px 16px 19px;
    gap: 16px;
  }
.header{
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0;
    position: relative;

    &_search{
        gap: 41px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
     }
     &_menu{
        display: flex;
         flex-direction: row;
         align-items: center;
         gap: 33px;
     }
     &_menu_hover:hover > a > svg > path{
        fill:$ColorObjectSite ;
      }
      &_menu_hover:hover label svg path{
        fill:$ColorObjectSite;
      }
}
.box-content{
  overflow: hidden;
}
#burger{
  display: none;
  &:checked ~ .nav_burger{
    right: 0;
  }
}
.nav_burger{
  background: #FFFFFF;
  width: $WidthNav_burger;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 79px;
  right: 0;
  right: -$WidthNav_burger;
  transition: right .3s;

  & h3 {
    padding-bottom: 4px;
  } 
  & h4 {
    padding-top: 20px;
    padding-bottom: 12px;
    color: $ColorObjectSite;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  & li a {
    padding: 3px 0 3px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
  }
  & li a:hover {
    color: $ColorObjectSite;
  }
  .nav_ref{
    display: block;
  }
}
.label{
    background: #F1E4E6;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 63px;
    margin-bottom: 65px;

    &_text{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 16px;
    }
    &_img{
        width: 50%;
    }
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 96px;

    &_ref_img{
        width: 100%;
      }
 }
 .shop_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 57px;

    &_head{
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
     }
     &_text{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
     }
 }
 .goods{
    background: #F8F8F8;

    &_shop{
        display: grid;
        gap: 30px;
        grid-template-columns: 360px 360px 360px;
        justify-content: center;
        gap: 30px;
        margin-bottom: 49px;
     }
     &_ref{
        text-decoration: none;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
     }
     &_info{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
     }
     &_cost{
        color: $ColorObjectSite;
     }
  }
  .footer{
    color: $ColorObjectSite;
    text-decoration: none;
    margin-bottom: 61px;
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
    
    &_ref{
        padding: 14px 39px;
        border: 1px solid $ColorObjectSite;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F26376; 
     }
 }  
 .footer_box:hover .footer_ref{  
    transition: 0.5s;
    color: white;
    background: $ColorObjectSite;
   }
   .site_footer{
    &_goods_info{
        background: #222224;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 103px;
        padding-bottom: 104px;

        &_item{
            width: 23%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .goods{
            &_info_svg{
                padding-bottom: 28px;
            }
            &_info_item_header{
                padding-bottom: 16px;
                font-weight: 400;
                font-size: 19.96px;
                line-height: 24px;
                color: #FBFBFB;
            }
            &_info_item_text{
                text-align: center;
                font-weight: 300;
                font-size: 13.972px;
                line-height: 17px;
                text-align: center;
                color: #FBFBFB;
            }
        }
    }
   }
   .subscribe{
    background-image: url(img/footer_background_image.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 225px;
    padding-top: 87px;
    padding-bottom: 128px;

    &_item{
        display: flex;
        justify-content: center;
        width: 30%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:32px;
      }
      .avatar{
        width: 20%;
      }
      &_left_text{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
      }
      &_form{
        display: flex;
      }
      input[type=email]{
        border: none;
        border-radius: 15px 0 0 15px;
        padding-left: 22px;
        height: 50px;
      }
      &_button{
        border: none;
        border-radius: 0 15px 15px 0;
        height: 50px;
        background: $ColorObjectSite;
        color: #FFFFFF;
        padding: 7px;
      }
  }
  .social_media{
    background: #222224;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;

    &_goods_info_text{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
      }
      .media{
        display: flex;
        gap: 7px;

        &_item{
            width: 32px;
            height: 32px;
            background: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:hover{
                background: $ColorObjectSite;
              }
            &:hover > a > svg > path{
                fill:white
              }
          }
      }
  }

  .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F7F7;

    &_head{
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;

        .header_search_right a:last-child{
          color: $ColorObjectSite;
        }
    }
    &_image{
      margin-bottom: 41px;
    }
    .header_search_left a{
      color: $ColorObjectSite;
    }
    .product_info:before{
      content: "";
      display: block;
      height: 65px;
      width: 71%;
      left: 14.3%;
      right: auto;
      background-color: white;
      position: absolute;
      top: -65px;
      z-index: 2;
    }
    &_info {
        background-color: white;
        width: 100%;
        position: relative;

        &_box{

          &_top{
            display: flex;
            flex-direction: column;
            align-items: center;

          }
          &_top h3{
            color: $ColorObjectSite;
            padding-bottom: 27px;
          }
          &_top_border1{
            width: 63px;
            border: 3px solid $ColorObjectSite;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 12px;
          }
          &_top h1{
            color: $ColorObjectSite;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            padding-bottom: 65px;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
          }
          &_top_border2{
            width: 641px;
            border: 1px solid #EAEAEA;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 65px;
          }
          &_top h2{
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #4D4D4D;
            margin-bottom: 48px;
          }
          &_top span{
            width: 555px;
            display: block;
            text-align: center;
            margin-bottom: 32px;
            color: #5E5E5E;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
          }
          &_top_menu{
            display: flex;
            justify-content: center;
            gap: 22px;
            margin-bottom: 49px;
          }
          &_top_button{
              border: 1px solid $ColorObjectSite;
              margin-bottom: 65px;
          }
          &_top_button:hover{
            transition: 0.5s;
            background: $ColorObjectSite; 
            a, a svg > path{
              color: white;
              fill: white;
            }
          }
          &_top_button a {
            padding: 15px 23px 15px 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $ColorObjectSite;
          }
          &_top_button a svg {
            margin-right: 23px;
          } 
        }
    }
  }
  .goods_filter{
    height: 123px;
    position: relative;
  }
  .filter_object{
    grid-template-columns: 27% 45%;
    display: grid;
    gap: 30px;
    box-sizing: border-box;
    padding-left: 12%;
    padding-top: 39px;
    color: #6F6E6E;
  }
  .filter_left{
    padding-top: 13px;
    padding-left: 16px;
    width: 360px;
    box-sizing: border-box;
    display: block;
    position: absolute;

    &[open] > summary{
      color: $ColorObjectSite;
    }
    &[open]{
      background: #FFFFFF;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &[open] path{
      fill: $ColorObjectSite;
    }  
    
    & details a {
      display: block;
    }
    &_filter{
      &[open] > summary {
        color: $ColorObjectSite;
      }
    }
    &_filter > summary{
      display: block;
      margin-top: 16px;
      border-bottom: 1px solid #EBEBEB;
      border-left: 5px solid $ColorObjectSite;
      min-height: 37px;
      padding-left: 11px;
      padding-top: 11px;
    }
    &_filter:last-child{
      margin-bottom: 16px;
    }
    &_filter li{
      padding-top: 24px;
      padding-bottom: 24px;
      padding-left: 34px;

      & a {
        padding-bottom: 11px;
        color: #6F6E6E;
      }
      & a:hover {
        color: $ColorObjectSite;
      }
      & a:last-child {
        padding-bottom: 0;
      }
    }

  }
  .filter_right{
    display: grid;
    grid-template-columns: 30% 15% 15%;
    gap: 28px;

    .filter_item2 > .details_right > .blok{
      background: #FFFFFF;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      padding-top: 9px;
      padding-left: 9px;
      padding-bottom: 12px;
      width: 40px;
    }

    .details_right{
      padding-top: 13px;
      padding-left: 18px; 
    }

    & details[open]{
      // background: #FFFFFF;
      // box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
  }
  .page_selector{
    display: flex;
    justify-content: center;
    & a{
      color: #6F6E6E;      
      padding-right: 18px;
    }
    & a:hover path{
      fill: $ColorObjectSite; 
    }
    & a:last-child{
      padding-right: 0;
    }
    & a:hover{
      color: $ColorObjectSite;      
    }
  }
  .top_content_head{
    background: #F8F3F4;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $ColorObjectSite;
    height: 148px;
    display: flex;
    align-items: center;
    padding-left: 230px;
  }
  .cart{
    display: flex;
    justify-content: center;
    gap: 129px;
    padding-top: 96px;

    &_left{
      display: flex;
      justify-content: center;
      flex-direction: column;

      .cart_left_item{
        min-height: 300px;
        display: flex;
        box-shadow: 20px 20px 20px 0px rgba(1, 0, 0, 0.21);
        margin-bottom: 40px;
        width: 600px;
        height: 306px;

        .info{

          .info_head{
            grid-template-columns: 60% 10%;
            display: grid;
            align-items: center;
            gap: 88px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 29px;
            padding-top: 25px;
            padding-left: 31px;
            padding-bottom: 42px;
            
            & h1{
              font-family: 'Lato';
              font-style: normal;
            }
          }
          .info_data{
            padding-left: 31px;
            gap: 6px;
          }
          .box_style{
            margin-left: 25px;
            padding-left: 15px;
            padding-right: 15px;
          }
          .cart_left_buttons{
            .cart_left_button{
              border: 1px solid #A4A4A4;
              color: #000000;
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
      }
      .cart_left_buttons{
        display: flex;
        justify-content: space-between;
        padding-top: 72px;
        padding-bottom: 128px;

        .cart_left_button{
          border: 1px solid #A4A4A4;
          font-family: 'Lato';
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          padding: 16px 40px;
        }
      }
    }
    &_right{
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: flex-start;

      .cart_right{
        
        .cart_right_top{
          display: flex;

          &_head{
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 21px;
          }
          .buy_form{
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  .color{
    color: $ColorObjectSite;
  }
  .box{
    border: 1px solid #EAEAEA;
  }
  .font{
    font-family: 'Lato';
    font-style: normal;
    //font-size: 14px;
    //line-height: 17px;
  }
  .input_form{
    height: 45px;
    width: 100%;
    margin-bottom: 21px;
  }
  .buy_button{
    background: #FFFFFF;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    border: 1px solid #A4A4A4;
    padding: 10px 15px;
    margin-bottom: 57px;
  }
  .cart_right_bottom{
    background: #F5F3F3;
    padding: 0 43px;
    min-height: 200px;
  }
  .cart_right_bottom_info{
    min-height: 100px;
    display: grid;
    grid-template-columns: 60% 20%;
    grid-template-rows: 30% 30%;
    padding-top: 39px;
    justify-content: end;
    //padding-bottom: 21px;
  }
  .cart_right_bottom_info_font1{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
  .cart_right_bottom_info_font2{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .cart_right_bottom_button{
    border-block-start: solid; 
    border-block-start-color: #E2E2E2;
    //writing-mode: horizontal-tb;
    //width: 100%;
    //height: 100%;
  }
  .cart_right_bottom_button_ref{
    display: block;
    background: #F16D7F;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 42px;
    margin-top: 17px;
    margin-bottom: 42px;
  }
  .cart_right_top_head{
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
  .test2{
    min-height: 100px;
  }
  .regisration_box{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 128px;
    margin-top: 64px;
    margin-bottom: 96px;
    //width: 80%;

    &_left{
      display: flex;
      flex-direction: column;
      gap: 20px;

      .style_par{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
      }
      .regisration_button{
        color:white;
        background-color: $ColorObjectSite;
        padding: 17px 20px;
        width: 30%;
      }
    }
    &_right{
      display: flex;
      flex-direction: column;
      gap: 21px;
    }
    .style_regisration_box{
      font-family: 'Lato';
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
    }
    .li_style{
      list-style-image:url(img/Vector_V.svg);
      padding-left: 25px;
    }
  }
  .center{
    padding-left: 16%;
    padding-right: 16%;
}
  .label_box{
  padding-top: 60px;
  padding-bottom: 60px;
  height: 0;
  align-items: normal;
}
.label{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
     justify-content: space-between;
     /* padding: 18px 32px; */
 }   
 .center{
     padding-left: 3%;
     padding-right: 3%;
 }
 .label {
     gap: 10%;
  }
  .label_img{
     width: 45%;
  }
  .label_text{
     width: 45%;
     gap: 5%;
  }
  .text_image{
     width: 80%;
  }
  .menu_ref{
     width: 30%;
  }
  .menu_ref_img{
     width: 100%;
  }
  .menu_ref_img_line{
     width: 100%;
  }
  .menu_ref_line{
     width: 100%;
  }
  .menu {
     gap: 5%;
     row-gap: 15px;
 }
 .goods_shop{
     grid-template-columns: 45% 45%;
 }
 .goods_image{
     width: 100%;
 }
 .site_footer_info{
  flex-direction: column;
 }
 .info_item {
  width: 50%;
 }
 .subscribe{
  flex-direction: column;
  gap: 50px;
 }
 .subscribe_item{
  width: 50%;
 }
 .avatar {
  width: 30%;
 }
 .top_content_head {
  padding-left: 16px;
 }
 .regisration_box .style_regisration_box{
  font-size: 16px;
 }
 .regisration_box {
  gap: 25px;
 }
 .filter_left{
  width: 180px;
 }
}
 @media (min-width: 320px) and (max-width: 767px){
  .header{
     justify-content: space-between;
  }
  .label {
     padding-top: 148px;
     padding-bottom: 148px;
     gap: 0;
     justify-content: center;
 }
 .label_img{
  display: none;
 }
 .center {
  padding-left: 3%;
  padding-right: 3%;
  }
  .label_img {
     width: 45%;
  }
  .label_text {
     width: 70%;
     gap: 5%;
  }
  .text_image {
     width: 100%;
  }
  .goods_shop {
     grid-template-columns: 100%;
 }
 .goods_image{
   width: 100%;
 }
 .menu2, .menu3{
  display: none;
 }
 .site_footer_info{
  flex-direction: column;
 }
 .info_item {
  width: 80%;
 }
 .subscribe{
  flex-direction: column;
  gap: 50px;
 }
 .social_media{
  flex-direction: column-reverse;
  gap: 40px;
 }
 .subscribe_item {
  width: 80%;
}
 .avatar {
  width: 30%;
 }
 .top_content_head {
   display: flex;
   justify-content: center;

   .label{
    //display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: -160px;
   }
 }
 .regisration_box {
  gap: 25px;
 }
 .regisration_box .style_regisration_box{
  font-size: 16px;
 }
 .regisration_box{
  grid-template-columns: 100%;
 }
 .filter_left{
    width: 90px;
 }
}